@use "../../global/variable" as *;
@use "../../global/mixin" as *;
.p-contact{
    &__heading{
        @include heading;
    }
    &__btn {
        margin-top: 4rem;
        height: 150px;
        border: 2px solid var(--color-pri);
        background-color: var(--color-pri);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1px;
        color: var(--color-base);
        transition: $ani;
        &:hover {
        background-color: var(--color-base);
        color: var(--color-pri);
        border: 2px solid var(--color-pri);
        }
    }
}