@use "../../global/variable" as *;
@use "../../global/mixin" as *;

.p-message{
    &__title{
        font-size: 3.2rem;
        letter-spacing: 0.32rem;
        font-weight: bold;
        text-align: center;
        &+* {
            margin-top: 4.8rem;
        }
    }
}

@media (max-width:$sp) {
    .p-message {
        &__title{
            font-size: 2.4rem;
            letter-spacing: 0.24rem;
            line-height: 3.2rem;
        }
    }
}