@use "../../global/variable" as *;
@use "../../global/mixin" as *;

.p-message{
    &__title{
        font-size: 2.4rem;
        font-weight: bold;
        text-align: center;
        @include sp {
            font-size: 2rem;
        }
        &+* {
            margin-top: 4.2rem;
            @include sp {
                margin-top: 2.4rem;
            }
        }
    }
    &__desc {
        text-align: center;
    }
}