@use "../../global/variable" as *;
@use "../../global/mixin" as *;

.c-head01 {
   & p {
      color: var(--color-pri);
      text-align: center;
      font-size: 4rem;
      letter-spacing: 0.4rem;
   }
   & span {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      &::before,&::after{
         content: "";
         border-top: 1px solid var(--color-pri);
         background-color: var(--color-pri);
         width: 2rem;
      }
   }
   &+* {
      margin-top: 4rem;
      @include sp {
         margin-top: 2.4rem;
      }
   }
}

.c-head02 {
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.8rem;
   &::before,&::after{
      content: "";
      border-top: 1px solid var(--color-pri);
      background-color: var(--color-pri);
      width: 2rem;
   }
}

.c-head-wrapper {
   & + * {
      margin-top: 4rem;
   }
}