@use "../global/variable" as *;
@use "../global/mixin" as *;

.l-footer{
    background-color: var(--color-pri);
    color: var(--color-base);
    height: 60px;
    display: grid;
    place-items: center;
    &__text{
        font-weight: bold;
    }
}