@use "../global/variable" as *;
@use "../global/mixin" as *;
.l-header {
    height: 60px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--color-pri);
    background-color: var(--color-base);
    z-index: 1;
    &__wrapper {
        padding-inline: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: auto;
        height: 60px;
    }
    &__name {
        font-weight: bold;
    }
    &__btn {
        background-color: var(--color-pri);
        color: var(--color-base);
        border: 1px solid var(--color-pri);
        display: grid;
        place-items: center;
        border-radius: 50px;
        padding: 0.8rem 2.4rem;
        transition: $ani;
        &:hover {
        background-color: var(--color-base);
        color: var(--color-pri);
        border: 1px solid var(--color-pri);
        }
    }
}

@media (max-width:$tb) {

    .l-header {
        &__wrapper {
            padding-inline: 5%;
        }
    }
}